@use 'mixins' as *;
@use 'vars' as *;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #1f1f1f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 66px;
  max-width: 1154px;
}
